<h1 id= "manager-dashboard-top"> Manager Dashboard </h1>
<div class="manager-dashboard-main">
  <%= link_to "View All Units", manager_units_path  %>
  <%= link_to "View All Events", manager_events_path %>
  <%= link_to "View All Tenants", manager_users_path %>
  <%= link_to "Edit Details", edit_manager_user_path(current_user) %>
</div>
