<h1 id= "manager-dashboard-top"> Manager Dashboard </h1>
<div class="manager-dashboard-main">
  <%= button_to "View All Units", manager_units_path, method: :get , class: 'manager-dashboard-button' %>
  <%= button_to "View All Events", manager_events_path, method: :get, class: 'manager-dashboard-button' %>
  <%= button_to "View All Tenants", manager_users_path, method: :get, class: 'manager-dashboard-button' %>
  <%= button_to "Edit Details", edit_manager_user_path(current_user), method: :get, class: 'manager-dashboard-button' %>
</div>
