<div class="header-portal">
  <h1 id= "resident-portal-header"> RESIDENTS </h1>
  <p id= "residents-portal-header-content"> Your Exclusive Experience, By You</p>
</div>
<div class="resident-portal-welcome">
  With our convenient Resident Portal, we've made it easy and convenient for you to pay your rent and submit service requests online. Log in, tell us what you need, and we'll get it done!
</div>
<div id="welcome-access-account">
  <% if current_user.nil?%>
    <div class="account-button">
      <%= link_to "Sign in with Google", "/auth/google" %>
      <%= link_to "Don't have Google? Log In Here", login_path %>
    </div>
  <% else %>
    <div class='account-button'>
      <%= link_to "Access Account", dashboard_path %>
    </div>
  <% end %>
</div>
