$light-grey: #BCC4DB;
$tan:        #F7F4EA;
$lavender:   #C0B9DD;
$sky-blue:   #6987C9;
$light-blue: #6BBAEC;
$nav-bar:    #E8F0FF;


.manager-event-index-header{
  text-align:center;
  font-size:24px;
  margin-top: 12px;
}

.event-show{
  text-align:center;
  font-size:24px;
  margin-top: 12px;
}
