$light-grey: #BCC4DB;
$tan:        #C0A9B0;
$lavender:   #C0B9DD;
$sky-blue:   #6987C9;
$light-blue: #6BBAEC;

.center-flash{
  text-align:center;
}

.user-login{
  display:flex;
  flex-direction: column;
  margin-left:500px;
}

.user-login-form{
  margin-left:540px;
}


.contact-body{
  display:flex;
  justify-content: center;
}

.edit-details{
  text-align:center;
  padding-top:25px;
}

.flash-alert{
  text-align:center;
  font-size: 20px;
}
