$light-grey: #BCC4DB;
$tan:        #C0A9B0;
$lavender:   #7880B5;
$sky-blue:   #6987C9;
$light-blue: #6BBAEC;




.edit-details{
  text-align:center;
  padding-top:25px;
}

.flash-alert{
  text-align:center;
  font-size: 20px;
}
