$light-grey: #BCC4DB;
$tan:        #C0A9B0;
$lavender:   #7880B5;
$sky-blue:   #6987C9;
$light-blue: #6BBAEC;

.renter-dashboard-head{
  text-align:center;
  font-size: 32px;
}

.renter-dashboard-main{
  font-size: 20px;
}

.renter-table{
  text-align:center;
  margin-left: 125px;
}
