$light-grey: #BCC4DB;
$tan:        #F7F4EA;
$lavender:   #C0B9DD;
$sky-blue:   #6987C9;
$light-blue: #6BBAEC;
$nav-bar:    #E8F0FF;



.manager-user-index-header{
  text-align:center;
  font-size: 34px;
  margin:20px;
}
